<main class="container-fluid">
  <div class="row">
      <nav id="tmSidebar" class="tm-bg-black-transparent tm-sidebar">
        <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="tm-sidebar-sticky">
          <div class="tm-brand-box">
            <div class="tm-double-border-1">
              <div class="tm-double-border-2">

                <header class="header">
                  <div class="container clearfix">
                      <img class="profile-image img-fluid float-left rounded-circle" src="assets/img/anand.png" alt="profile image" />
                      <div class="profile-content float-left">
                          <h4>ANAND KRISHNAN ES</h4>
                          <h6>Software Developer</h6>
                          <ul class="social list-inline">
                            <!--<li class="list-inline-item"><a href="https://twitter.com/AnandkrishnanEs"><i class="fab fa fa-phone-square"></i></a></li>-->
                              <!--<li class="list-inline-item"><a href="https://twitter.com/AnandkrishnanEs"><i class="fab fa-twitter"></i></a></li>-->
                              <li title="Go to Linkedin profile"  title="Open Linkedin profile" class="list-inline-item"><a href="https://linkedin.com/in/anand-es-268b78120"><i class="fab fa-linkedin-in"></i></a></li>
                              <li class="list-inline-item"  title="Open github profile"><a href="https://github.com/AnandEs92"><i class="fab fa-github-alt"></i></a></li>
                              <li class="list-inline-item" title="Open facebook profile"><a href="http://www.facebook.com/profile.php?id=Anandkrishnanes"><i class="fab fa-facebook-square"></i></a></li>
                              <li class="list-inline-item" title="Mail to Anand"><a href="mailto:anandkrishnanes@gmail.com?subject=Subject&body=;"><i class="fab fa fa-envelope"></i></a></li>
                              <!-- <li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow"></i></a></li> -->
                              <!-- <li class="list-inline-item last-item"><a href="#"><i class="fab fa-codepen"></i></a></li> -->
                          </ul>
                      </div><!--//profile-->
                  </div><!--//container-->
              </header><!--//header-->
              </div>
            </div>
          </div>

          <ul id="tmMainNav" class="nav flex-column text-uppercase text-right tm-main-nav">
            <li class="nav-item">
              <a href="#intro" class="nav-link active">
                <span class="d-inline-block mr-3">Intro</span>
                <span class="d-inline-block tm-white-rect"></span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">
                <span class="d-inline-block mr-3">Skills</span>
                <span class="d-inline-block tm-white-rect"></span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#work" class="nav-link">
                <span class="d-inline-block mr-3">Academics and work history</span>
                <span class="d-inline-block tm-white-rect"></span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#clients" class="nav-link">
                <span class="d-inline-block mr-3">Projects</span>
                <span class="d-inline-block tm-white-rect"></span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#talk" class="nav-link">
                <span class="d-inline-block mr-3">Let's Talk</span>
                <span class="d-inline-block tm-white-rect"></span>
              </a>
            </li>
          </ul>
          <ul class="nav flex-row tm-social-links">
            <!-- <li class="nav-item">
              <a href="https://facebook.com" class="nav-link tm-social-link">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://twitter.com" class="nav-link tm-social-link">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://dribbble.com" class="nav-link tm-social-link">
                <i class="fab fa-dribbble"></i>
              </a>
            </li>
            <li class="nav-item">
              <a href="https://linkedin.com" class="nav-link tm-social-link">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li> -->
          </ul>
          <!--<footer class="text-center text-white small">-->
            <!--<p class="mb&#45;&#45;0 mb-2">Copyright 2020 Dream Pulse</p>-->
            <!--<p class="mb-0">Design:-->
              <!--<a rel="nofollow" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>-->
            <!--</p>-->
          <!--</footer>-->
        </div>
      </nav>

      <main role="main" class="ml-sm-auto col-12">
        <div
          class="parallax-window"
          data-parallax="scroll"
          data-image-src="assets/img/back-image.jpg">
          <div class="tm-section-wrap">
            <section id="intro" class="tm-section">
                <div class="tm-bg-white-transparent tm-intro">
                    <h2 class="tm-section-title mb-5 text-uppercase tm-color-primary">ABOUT ME</h2>
                    <p class="tm-color-gray">
                      Innovative software developer with master degree in computer science and six years of experience in handling different aspects of software developement process.
                    </p>
                    <p class="mb-0 tm-color-gray">
                      I am passionate about keeping up to date with the latest technologies coming on to the market and dedicated to working in the Software development industry.
                      Quick learner looking for better career prospects, professional growth and work opportunities
                    </p>
                </div>
            </section>
        </div>
      </div>

      <div class="tm-section-wrap bg-white">
        <section id="about" class="row tm-section">
          <div class="col-xl-12">
            <div class="tm-section-half">
                <div><i class="fas fa-6x fa-cogs mb-5 tm-section-icon"></i></div>
                <h2 class="tm-section-title tm-color-primary mb-5">Skills</h2>
                <p class="mb-5">
                  ·	IBM FileNet Products	: IBM Content Navigator, IBM Content Platform Engine<br />
                  ·	Languages & Libs : Angular, React JS, Java, JQuery, JavaScript, AJAX, Android, Dojo and .NET<br />
                  ·	Version Control	: Tortoise SVN 1.12.0, Git 2.28<br />
                  ·	Application Server : WebSphere 8.5<br />
                  ·	Web Server	: Apache Tomcat 7.0<br />
                  ·	UI/UX Tool	: Adobe XD,PhotoScape<br />
                  ·	RDBMS	: Oracle 11g, SQL Server 2008 R2<br />
                  ·	IDE’s	: Visual Studio, Eclipse, Android Studio, Pycharm, Webstorm, VS code, Atom<br />
                  ·	Operating System : Windows 98/Me/XP/7/8/8.1/10, Windows Server 2008 R2<br />
                  ·	Reporting Tool	: Jasper Report<br />
                  ·	Unit Testing	: Jasmine with Karma<br />
                </p>
                <p>

                </p>
            </div>
          </div>
          <!-- <div class="col-xl-6">
            <div class="tm-section-half">
                <div hidden><i class="far fa-6x fa-building mb-5 tm-section-icon"></i></div>
                <h2 class="tm-section-title tm-color-primary mb-5" >Company Profile</h2>
                <p class="mb-5">
                  You can use this template for your commercial websites or for your clients.
                  You are NOT allowed to re-post this template as a downloadable ZIP file
                  on your template collection sites. It is illegal.
                </p>
                <p>
                  Suspendisse fermentum orci eget lorem euismod suscipit. Morbi
                  condimentum odio metus, at finibus dolor sollicitudin quis.
                  Curabitur eu congue erat.
                </p>
            </div>
          </div> -->
        </section>
      </div>

      <div class="tm-section-wrap bg-white">
        <section id="work" class="row tm-section">
          <div class="col-12">
            <div class="w-100 tm-double-border-1 tm-border-gray">
                <div class="tm-double-border-2 tm-border-gray tm-box-pad">
                  <div class="tm-gallery-wrap">
                      <h2 class="tm-color-primary tm-section-title mb-4 ml-2">ACADEMICS & WORK HISTORY</h2>
                      <div class="tm-gallery">
                        <!--<div class="tm-gallery-item">-->
                          <!--<figure class="effect-bubba">-->
                            <!--<img src="assets/img/flinders_img.jpg" alt="Not Available" class="img-fluid">-->
                            <!--<figcaption>-->
                              <!--&lt;!&ndash;<h2>Fresh <span>Bubba</span></h2>&ndash;&gt;-->
                              <!--<p>View Certificate</p>-->
                              <!--<a href="assets/img/flinders_img.jpg">View more</a>-->
                            <!--</figcaption>-->
                          <!--</figure>-->
                          <!--<span>Master of Computer Science(2021-23)</span>-->
                        <!--</div>-->
                        <div class="tm-gallery-item">
                          <figure class="effect-bubba">
                            <img src="assets/img/ebla.png" alt="Not Available" class="img-fluid">
                            <!--<figcaption>-->
                              <!--<p>View Certificate</p>-->
                             <!--<a href="assets/img/ebla.png">View more</a>-->
                            <!--</figcaption>-->
                          </figure>
                          <span>EBLA Computer Consultancy(2017-2021)</span>
                        </div>
                        <div class="tm-gallery-item">
                          <figure class="effect-bubba">
                            <img src="assets/img/hashecm.png" alt="Not Available" class="img-fluid">
                            <!--<figcaption>-->
                              <!--<p>View Certificate</p>-->
                             <!--<a href="assets/img/hashecm.png">View more</a>-->
                            <!--</figcaption>-->
                          </figure>
                           <span>HashEcm Technologies(2016-2017)</span>
                        </div>
                        <div class="tm-gallery-item">
                          <figure class="effect-bubba">
                            <img src="assets/img/effibyte.jpg" alt="Not Available" class="img-fluid">
                            <!--<figcaption>-->
                             <!--<p>View Certificate</p>-->
                              <!--<a href="assets/img/effibyte.jpg">View more</a>-->
                            <!--</figcaption>-->
                          </figure>
                           <span>Effibyte Technologies(2015-2016)</span>
                        </div>
                         <div class="tm-gallery-item">
                          <figure class="effect-bubba">
                           <img src="assets/img/calicutuni_img.jpg" alt="Not Available" class="img-fluid">
                            <!--<figcaption>-->
                             <!--<p>View Certificate</p>-->
                              <!--<a href="assets/img/calicutuni_img.jpg">View more</a>-->
                            <!--</figcaption>-->
                          </figure>
                          <span>Bachelor of Technology(2011-2015)</span>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
          </div>
        </section>
      </div>

      <div class="tm-section-wrap bg-white">
        <section id="clients" class="row tm-section">
          <div class="col-12 tm-section-pad">
              <div class="tm-flex-item-left">
                  <div class="tm-w-80">
                      <h2 class="tm-color-primary tm-section-title mb-4">PROJECTS</h2>
                      <!--<p class="mb-5">-->
                       <!---->
                      <!--</p>-->
                  </div>
                  <div class="row tm-clients-images">
                    <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                      <i class="fab fa fa-desktop"></i>
                      <a >
                        KOC (Kuwait Oil Company) ECM (Enterprise Content Management) Program, KOC, Kuwait
                        <!--<img src="img/client-1.png" alt="Client Image" class="img-fluid tm-client-img" />-->
                      </a>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                      <i class="fab fa fa-desktop"></i>
                      <a >
                       KNPC (Kuwait National Petroleum Oil Company) TRAC (Technical Risk Assessment), KNPC, Kuwait
                      </a>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                      <i class="fab fa fa-desktop"></i>
                      <a >
                        KNPC (Kuwait National Petroleum Oil Company) CMS (Content Management System), KNPC, Kuwait
                      </a>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                      <i class="fab fa fa-desktop"></i>
                      <a >
                       KNPC (Kuwait National Petroleum Oil Company) ECM (Enterprise Content Management) Project, KNPC, Kuwait
                      </a>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                      <i class="fab fa fa-desktop p-sm-10"></i>
                        <a >
                          KNPC (Kuwait National Petroleum Oil Company) IMS (Issue Management System), KNPC, Kuwait
                        </a>
                      </div>
                      <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                        <i class="fab fa fa-desktop p-sm-10"></i>
                        <a >
                          KNPC (Kuwait National Petroleum Oil Company) WCM (Weekly Coordination Meeting), KNPC, Kuwait
                        </a>
                      </div>
                      <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                        <i class="fab fa fa-desktop p-sm-10"></i>
                        <a >
                         LIBRARY MANAGEMENT WEB APPLICATION(KOCHI, INDIA)
                        </a>
                      </div>
                     <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                       <i class="fab fa fa-mobile-alt p-sm-10"></i>
                        <a >
                         TALENT ERP BUS LOCATOR APPLICATION-ANDROID (KOCHI, INDIA)
                        </a>
                      </div>
                    <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                      <i class="fab fa fa-mobile-alt p-sm-18"></i>
                        <a >
                         TALENT ERP MANAGEMENT APPLICATION-ANDROID (KOCHI, INDIA)
                        </a>
                      </div>
                    <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                      <i class="fab fa fa-mobile-alt p-sm-18"></i>
                        <a >
                        TALENT ERP PARENT APPLICATION-ANDROID (KOCHI, INDIA)
                        </a>
                      </div>
                    <div class="col-xl-3 col-lg-6 col-md-4 col-sm-6 tm-img-wrap">
                        <i class="fab fa fa-desktop p-sm-18"></i>
                        <a >
                         TALENT ERP WEB APPLICATION (KOCHI, INDIA)
                        </a>
                      </div>
                  </div>
              </div>
          </div>
        </section>
      </div>

      <div class="tm-section-wrap bg-white m-t-2">
        <section id="talk" class="row tm-section">
            <div class="col-xl-6 mb-5">
              <div class="tm-double-border-1 tm-border-gray">
                <div class="tm-double-border-2 tm-border-gray tm-box-pad">
                    <h2 class="tm-color-primary tm-section-title mb-4">Get in Touch</h2>
                    <p class="mb-4">

                    </p>
                    <p class="mb-3">
                      Drop me a line at anandkrishnanes@gmail.com or call me +96555374831(Kuwait)<br>+919846041043(India)
                    </p>
                </div>
              </div>
            </div>
            <!--<div class="col-xl-6 mb-5">-->
              <!--<div class="tm-contact-form-wrap">-->
                <!--<form  action="" method="POST" class="tm-contact-form">-->
                    <!--<div class="form-group">-->
                      <!--<input type="text" id="contact_name" name="contact_name" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Your Name" required="" />-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                      <!--<input type="email" id="contact_email" name="contact_email" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Your Email" required="" />-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                      <!--<textarea rows="4" id="contact_message" name="contact_message" class="form-control rounded-0 border-top-0 border-right-0 border-left-0" placeholder="Message..." required=""></textarea>-->
                    <!--</div>-->
                    <!--<div class="form-group mb-0">-->
                     <!--<button class="btn btn-cta-secondary btn-follow f-r" (click)="submitMailReq()"-->
                         <!--&gt;<i class="fab fa-paper-plane-o"></i>Send</button>-->
                    <!--</div>-->
                  <!--</form>-->
              <!--</div>-->
            <!--</div>-->
          </section>
      </div>
    </main>
  </div>
<router-outlet></router-outlet>
</main>
